.login__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #7a7a7a;
  border-radius: 5px;
  height: 100vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 2rem;
  border-radius: 5px;
  width: 30%;
  max-width: 800px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 40%;
  max-height: 1000px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;

  gap: 1rem;
}
